<html>
    <head>
        <title>Different time zones</title>
        <script type="text/javascript">
            function printSelectedItem() {
                var e = document.getElementById("zones");
                var selectedItem = e.options[e.selectedIndex].value;
                alert(selectedItem);
            }

            function printAllZones(){
                var e = document.getElementById("zones")
                
            }

            function displayResult(){
                let selectElement = document.getElementById('zones');
                let optionNames = [...selectElement.options].map(o => o.text);
                alert(optionNames );
            }

            function testFunction() {
                onChange();
                displayResult();
            }
            function test123() {
                var options = document.getElementById('zones').options;
                    for (let i = 0; i < options.length; i++) { 
                    document.write(options[i].value +"<br>");//log the value
            }
            
            }

            var click = document.getElementById('clickme');
                click.addEventListener('click', myfunction);

            function myfunction() {
                var tablewrap = document.getElementById('displaytable');
                    tablewrap.classList.toggle('hidden')
            };
        </script>
    </head>
    <body style="text-align: center;">
        <h1>Different time zones</h1>
        <big>Select time zone:</big>
        <select id="zones" onchange="printSelectedItem()">
            <option value="{{ "now"  | to_time: "Europe/Oslo" }}">Local</option>
            <option value="{{ "now"  | to_time: "America/Chicago" }}">Chicago</option>
            <option value="{{ "now"  | to_time: "Sydney" }}">Sydney</option>
            <option value="{{ "now"  | to_time: "Tokyo" }}">Tokyo</option>
            <option value="{{ "now"  | to_time: "Singapore" }}">Singapore</option>
            <option value="{{ "now"  | to_time: "Mumbai" }}">Mumbai</option>
            <option value="{{ "now"  | to_time: "Moscow" }}">Moscow</option>
            <option value="{{ "now"  | to_time: "Auckland" }}">Auckland</option>

            <div id="displaytable" class="placeholder">
                <table id="displaytable2" width="100%" cellpadding="1" cellspacing="0" border="3">
                  <tr align="center">
                    <td class="lbl">column1</td>
                    <td class="lbl">column2</td>
                    <td class="lbl">column3</td>
                  </tr>
                  <tr>
                    <td align="center">1</td>
                    <td align="center">2</td>
                    <td align="center">33</td>
                  </tr>
                  <tr>
                    <td align="center">4</td>
                    <td align="center">5</td>
                    <td align="center">6</td>
                  </tr>
                </table>
              </div>
              <div>
                <input type="button" id="clickme" value="Show/Hide" />
              </div>

        </select>


        <!-- <button type="button" onclick="test123()">Display all time zones</button> -->

    </body>
</html> 